SEED_PASSWORD=ChangeMe123!
JWT_SECRET=change-me
PORT=4000
POSTGRES_USER=waypoint
POSTGRES_PASSWORD=waypoint
POSTGRES_DB=waypoint
# Used when running the API outside Docker:
DATABASE_URL=postgres://waypoint:waypoint@localhost:5432/waypoint
